<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/nav.ejs') %> 
    <!-- content -->
    <div class="not__found content">
        OOPS! Something went wrong. <br>
        Page not Found :)
    </div>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>