<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/nav.ejs') %> 
    <!-- content -->
    <div class="about content">
        <h2>About Me</h2>
        <p>I'm an innovative Front End Web Developer (aspiring to be FullStack) with less than two years of experience building and maintaining responsive websites in the recruiting industry, specializing in React, Responsive Web design, CSS, HTML and JavaScript; plus modern libraries and frameworks. I am a passionate and goal driven Techpreneur whose interest is in using technology to build solutions to solve real world problems. I have a hunger for learning new things and I'm always trying to stretch abilities.
        </p><br />
        <p>Programming Languages: JavaScript and some familiarity with Motoko and Solidity.</p>
    </div>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>